body {
    background: rgb(190, 190, 199)
}

.form-control:focus {
    box-shadow: none;
    border-color: #3242cc
}

.profile-button {
    background: rgb(51, 78, 228);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #15014b
}

.profile-button:focus {
    background: #3b0681;
    box-shadow: none
}

.profile-button:active {
    background: #17a7c0;
    box-shadow: none
}

.back:hover {
    color: #1e7bb9;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #208ee7;
    color: #fff;
    cursor: pointer;
    border: solid 1px #4879e2
}